@page "/"
@inject Localizer<SharedResource> Localizer

<PageTitle>@Localizer["Welcome to Using Blazor Tips"]</PageTitle>

<h1>Welcome to <br />Using Blazor Tips</h1>

<p> @Localizer["This is a collection of Blazor related tips and tricks! Checkout the side bar for a list of available tips."]</p>

<p>@Localizer["This page is managed by Cody Merritt Anhorn. "]<a href="https://twitter.com/CodyAnhorn" title="The location of Cody Merritt Anhorn's twitter, where he will post updates and posts." target="_blank" rel="nofollow noreferrer">Checkout Cody's Twtiter</a></p>
